*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
html{
    min-height: 100dvh;
}
body{
    flex-grow: 1;
}
/* Header and related contents to header  */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
    gap: 300px
}

.header-links {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    gap: 12px;

}

.links {
    list-style-type: none;
    text-decoration: none;
    flex-shrink: 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    flex-shrink: 0;
}

/* Second container and related content to the container */
.second-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding-top: 36px;
    gap: 36px;
}

.awesome-title {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;
    max-width: 400px;
}

.awesome-image {
    display: flex;
    flex: 1;
    background-color: #85898f;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

.awesome-about {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
}

.awesome-paragraph {
    font-size: 18px;
    color: #F9FAF8;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 5px;
    width: 100px;
    height: 32px;
}
/* Third container styling and its elements */
.third-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.pretty-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.solo-image>img {
    display: flex;
    width: 120px;
    height: 120px;
    border: 2px solid #3882f6;
    border-radius: 5px;

}

.solo-image {
    width: 180px;
    height: 180px;
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.information {
    margin-top: 18px;
    font-size: 36px;
    font-family: #1F2937;
    font-weight: 900;
}

.image-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* styling for the famous quote */
.famous-quote{
    display: flex;
    flex-direction: column;     
    background-color: #e5e7eb;
    align-items: center;
    padding: 24px 550px;
    justify-content: center;
}
.quote{   
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
   
}
.quoted-from{
    align-self: flex-end;
    padding-right: 36px;
    font-weight: bold;
}
.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background-color: #3882f6;
    padding: 48px;
    margin:48px 500px;
    border-radius: 5px;
}
.time{
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
}
.sign-description{
    font-size:12px;
    font-weight: 200;
}
.sign-up{
    border:2px solid #F9FAF8;
}

/* Footer styling  */
.footer{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 18px;  
    justify-content: center; 
}